<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note-making-Web-app</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="container m-full min-h-screen bg-zinc-900 p-10" text-white>
        <a href="/" class="text-blue-500 hover:underline mb-10 inline-block">Back to Home</a>
        <h1 class="text-2xl font-bold text-white"><%= filename %></h1>
        <p class="text-lg text-white"><%= data %></p>
    
    </div>
</body>
</html>